<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>LUPI</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lupi.css') }}">

    <script src="{{ url_for('static', filename='js/3rd_party/vue.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/3rd_party/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lupi.js') }}"></script>
</head>
<body>
    <div id="lupi-app">
        <functions ref="functions"></functions>
        <lupi-form ref="lupi_form"></lupi-form>
        <response ref="response"></response>
        <table-view ref="table_view"></table-view>
    </div>
</body>
</html>
